@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
.container {
    text-align: center;
    margin-top: 100px;
}

#city,
#temp,
#des {
    font-family: 'Oswald', sans-serif;
}

a {
    font-size: 60px;
    color: rgb(0, 238, 255) !important;
}

#submit-btn {
    display: block;
    margin-left: 46%;
    margin-top: 26px;
}